*{
	padding: 0;
	margin: 0;
}

body,html{
	width: 100%;
	height: 100%;
	background-color: #fafafa;
}

.top-nav{
	font-size: 25px;
	cursor: pointer;
}

.btn-open{
	font-size: 25px;
	cursor: pointer;
}

.sidenav{
	width: 0px;
	height: 100%;
	background-color: #19192e;
	padding-top: 30px;
	color:#fafafa;
	position: fixed;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.8s;
}

.sidenav-item{
	margin-top: 30px;
	font-size: 15px;
}

.sidenav-item a{
	display: block;
	text-decoration: none;
	padding:10px 12px;
	margin-left: 20px;
	color:#fafafa;
}

.btn-close{
	position: absolute;
	top: 0;
	right:20px; 
	font-size: 35px;
	cursor: pointer;
}

.main-contain{
	margin-left: 0px;	
	transition: 0.6s;
	padding: 20px;
}

.show{
	width: 250px;
	transition: 0.6s cubic-bezier(0,1.16,0 ,1.23);
}

.push{
	margin-left: 250px;
	transition: 0.6s cubic-bezier(0,1.16,0 ,1.23);
}