*{
	padding: 0;
	margin: 0;
}

nav .menu{
	width: 100%;
    background: #ffffff;
}

.menu ul{	
	width: 1200px;
	display: flex;
	margin: auto;
	margin-top:50px;
	justify-content: space-around;
}

.menu ul li{
	padding: 10px 12px;
	list-style:none;
	font-size:20px;
	margin: 0px 12px;
	cursor: pointer;
}

.sticky{
	top: 0;
	left: 0;
	position: fixed;
	z-index: 1000;
	box-shadow: 2px 5px 5px rgb(0,0,0,0.35);
}

.content{
	width: 1200px;
	margin: auto;
}

.content img{
	width: 100%;
	margin:10px 12px;
	padding: 10px 12px;
}

.back-to-top {
   width: 50px;
   height: 50px;
   background: rgb(0,0,0,0.7);
   font-size: 35px;
   color: whitesmoke;
   text-align: center;
   vertical-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   left: 50%;
   bottom: 20px;
   margin-left: -25px;
   cursor: pointer;
   visibility: hidden;
   opacity: 0;
}

.back-to-top.show{
	visibility: visible;
	opacity: 1;
}
