*{
    padding: 0;
    margin: 0;
}

.tinto {
    width: 400px;
    height: 300px;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin: 0px auto;
    margin-top: 10px;
    float:left;
    margin: 20px;
}

.anh{ 
    height: 300px;
    transform: scale(1.5);
    transition: 0.2s;
}

.xanh {
    width: 400px;
    height: 300px;
    position: absolute;
    background: rgba(173,216,230,0.42);
    top: 0px;
    left: 0px;
    z-index: 1;
    transition: 0.2s;
    opacity: 0;
}

.thanh1,.thanh2 {
    width: 350px;
    height: 1px;
    background: white;
    position: absolute;
    top: 165px;
    left: 20px;
    z-index: 2;
    transition: 0.2s;
    transform: rotate(0deg);
}

.chuto{
    position: absolute;
    width: 100%;
    z-index: 4;
    top: 100px;
    left: 0px;
    text-align:center;
    transition: 0.4s;
    color:white;
    font-weight: 200;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chunho{
    position: absolute;
    text-transform: uppercase;
    width: 80%;
    z-index: 4;
    top: 200px;
    left: 35px;
    text-align:center;
    transition: 0.2s;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tinto:hover img.anh{
    transform: scale(1);
}

.tinto:hover .xanh{
    opacity: 1;
}


.tinto:hover .thanh1{
    transform: rotate(45deg);
}

.tinto:hover .thanh2{
    transform: rotate(-45deg);
}

.tinto:hover .chuto{
    transform: translateY(20px);
}

.tinto:hover .chunho{
    transform: translateY(-20px);
}

.loadthem{
    overflow: hidden;
    clear:both;
    width: 200px;
    margin: auto;
}

.nutload{
    background:lightblue;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
}